footer {
  font-size: 0.95rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a:hover {
  text-decoration: underline;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

app-footer {
  margin-top: auto;
}