

header{
    background-color: #000;
    padding: 20px;
}

nav a{
    color: #fff;
    margin: 0 15px;
    padding: 10px 20px;
}

nav a:hover{
    background-color: #fff;
    color: #000;
    border-radius: 15px;
}